<article *ngIf="weatherData?.obsData.currentobservation">
  <meta name="Description" content="Current weather">
    <div class="mw9 center ph3-ns bg-wxflo-gradient-darkblue br3 shadow-3">
      <div class="cf ph2-ns">
        <div class ="fl w-100 pa2">
          <h1 class="f4 near-white mt0 mb0">Current observations near {{ weatherData.meta.properties.relativeLocation.properties.city }}, {{ weatherData.meta.properties.relativeLocation.properties.state }}</h1>
        </div>
        <div class="fl w-100 w-30-ns pa2">
          <div class="bg-wxflo-gradient-blue pv4 br4 ba bw2">
            <div class="mw9 center ph3-ns">
              <div class="cf ph2-ns">
                <div class="fl w-100 w-50-ns pa2">
                  <div class="">
                    <div class="tc">
                      <h1 class="f6 near-white mb1">Winds {{weatherData.obsData.currentobservation.Windd | windDirection}} {{weatherData.obsData.currentobservation.Winds | windSpeed: 'mph'}}</h1>
                      <img *ngIf="weatherData.obsData.currentobservation.Weatherimage !== 'NULL'" [src]="weatherData.obsData.currentobservation.Weatherimage | nwsCurrentIcon" class="br3 h9 w9 dib" alt="" title={{weatherData.obsData.currentobservation.Weather}}>
                      <img *ngIf="weatherData.obsData.currentobservation.Weatherimage === 'NULL'" [src]="weatherData.forecastHourly.properties.periods[0].icon | nwsIcons:'large'" class="br3 h9 w9 dib" alt="" title={{weatherData.obsData.currentobservation.Weather}}>
                      <h2 class="f3 near-white mb1">{{ weatherData.obsData.currentobservation.Weather }}</h2>
                    </div>
                  </div>
                </div>
                <div class="fl w-100 w-50-ns pa2">
                  <div class="pv1">
                    <h1 class="f2 pt4 near-white mb2">{{ weatherData.obsData.currentobservation.Temp | temperature: 'f' }}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fl w-100 w-20-ns pa1">
          <div class="">
            <div class="pa2">
              <dl class="f5 lh-title mv2">
                <dt class="dib near-white">Relative Humidity:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-green">{{ weatherData.obsData.currentobservation.Relh | number:'1.0-1' }}%</dd>
              </dl>
              <dl class="f5 lh-title mv2">
                <dt class="dib near-white">Dewpoint:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-green">{{ weatherData.obsData.currentobservation.Dewp | temperature: 'f' }}</dd>
              </dl>
              <dl class="f5 lh-title mv2">
                <dt class="dib near-white">Pressure:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-green">{{ weatherData.obsData.currentobservation.SLP | pressure | number:'1.0-1' }} mb</dd>
              </dl>
              <dl class="f5 lh-title mv2" *ngIf="weatherData.forecast.properties.periods[0].isDaytime">
                <dt class="dib near-white">Expected High:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-red">{{ weatherData.forecast.properties.periods[0].temperature | temperature: 'F' }}</dd>
              </dl>
              <dl class="f5 lh-title mv2" *ngIf="weatherData.forecast.properties.periods[1].isDaytime">
                <dt class="dib near-white">Expected High:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-red">{{ weatherData.forecast.properties.periods[1].temperature | temperature: 'F' }}</dd>
              </dl>
              <dl class="f5 lh-title mv2" *ngIf="!weatherData.forecast.properties.periods[0].isDaytime">
                <dt class="dib near-white">Expected Low:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-blue">{{ weatherData.forecast.properties.periods[0].temperature | temperature: 'F' }}</dd>
              </dl>
              <dl class="f5 lh-title mv2" *ngIf="!weatherData.forecast.properties.periods[1].isDaytime">
                <dt class="dib near-white">Expected Low:&nbsp;&nbsp;</dt>
                <dd class="dib ml0 light-blue">{{ weatherData.forecast.properties.periods[1].temperature | temperature: 'F' }}</dd>
              </dl>
            </div>         
          </div>
        </div>
        <div class="fl w-100 w-50-ns pa2">
          <div class="pv4">
            <p class="near-white pa2">{{ weatherData.forecast.properties.periods[0].detailedForecast }}</p>
          </div>
        </div>
        <div class ="fl w-100 pa2">
          <h1 class="f6 near-white mt0 mb0">Latest Observation {{ weatherData.obsData.currentobservation.Date }}</h1>
        </div>
      </div>
    </div>
</article>
